.register {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/862cc171-8df5-418c-886f-2aaf767ae159/5601aa7a-9e3b-45ba-8c3e-982c4d3f25b8/IT-it-20230130-popsignuptwoweeks-perspective_alpha_website_small.jpg");

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 20px;
    img {
      width: 200px;
    }
    button {
      padding: 8px 10px;
      font-size: 16px;
      border: none;
      background-color: #e50914;
      color: white;
      font-weight: 600;
      border-radius: 5px;
    }
  }
  .container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .content-text {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 0;
     
    }
    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }
    h3 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
  }
  .content-form {
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;

    border: none;
    //background-color: #1f100f;

    border-radius: 5px;
    input {
      height: 100%;
      flex: 9;
      font-size: 16px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: #1f100f;
      color: white;
      border: 1px  solid rgba(255, 255, 255, 0.427);
    }
    button {
      height: 100%;
      flex: 3;
      color: white;
      background-color: #e50914;
      border: none;
      border-radius: 0px 5px 5px 0px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 900;
    }
  }
}
