.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video {
    width: 100%;
    height: 180px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 325px;
    height: 400px;
    //left: 0;
    top: -180px;
    position: absolute;
    z-index: 99;
    img {
      height: 180px;
    }
  }
  .itemInfo {
    .icons {
      display: flex;

      .icon {
        border: 1px solid white;
        border-radius: 50%;
        margin: 5px 10px;
        padding: 2px;
      }
    }
    .itemInfoTop {
      display: flex;
      color: gray;
      font-size: 12px;
      align-items: center;

      span {
        margin: 10px 5px;
      }
      .limit {
        border: 1px solid gray;
        padding: 1px 5px;
      }
     
    }
     .desc {
        font-size: 12px;
       padding: 0 5px;
      }
      .genre{
        color: lightgray;
        font-size: 13px;
        margin: 3px 0;
      }
  }
}
